*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
}
table{
    margin: auto;
}

table,td{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    cursor: pointer;
}
